@import './variables.css';

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.desktop-layout {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.module {
  overflow: hidden; /* Disable scrolling */
  border: 1px solid var(--accent-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: var(--background-color);
  border-radius: 4px;
}

.editor {
  display: inline-block; /* Adjust size to content */
}
