@import './variables.css';

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.desktop-layout {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.module {
  overflow: auto; /* Enable scrolling */
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: var(--background-color);
  border-radius: 4px;

  /* Hide the scrollbars */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer */
}

.module::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.editor {
  width: 800px; /* Fixed width */
  height: 600px; /* Fixed height */
}
