.editor-container {
    display: flex;
    flex-direction: column;
    width: 100%; /* Always match parent */
    height: 100%; /* Always match parent */
    background-color: var(--background-color);
    padding: 0.75vw;
    box-sizing: border-box;
    border: 0.15vw solid var(--accent-color);
    border-radius: 2px;
    overflow: hidden;
  }
  
  .editor-textarea {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    padding: var(--spacing-base);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--text-color);
    background-color: var(--foreground-color);
    outline: none;
  }
  
  .editor-textarea::placeholder {
    color: var(--text-color);
    font-style: italic;
  }
  
  /* Drag handle styling */
  .editor-drag-handle {
    height: 20px; /* Height of the drag handle */
    background-color: lightgray; /* Color for the drag handle */
    cursor: move; /* Cursor style for dragging */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    z-index: 10; /* Ensure the drag handle is above other elements */
  }
  
  /* Styling for when the drag handle is hovered */
  .editor-drag-handle:hover {
    background-color: #ccc; /* Slightly darker on hover */
  }
  
  .editor-module {
    background: lightgreen;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  