@import './variables.css';

.journal-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  padding: 0.75vw;
  box-sizing: border-box;
  border: 0.10vw solid var(--accent-color);
  border-radius: 2px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.journal-textarea {
  width: 100%;
  height: 10%; /* Adjust input height as desired */
  border: none;
  resize: none;
  padding: var(--spacing-base);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
  background-color: var(--foreground-color);
  outline: none;
  border-radius: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  box-shadow: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.journal-textarea::placeholder {
  color: rgba(var(--text-color-rgb), 0.6);
  font-style: italic;
}

.notes-container {
  margin-top: 0.75vw;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5vw;
}

.note {
  background-color: var(--foreground-color);
  color: var(--text-color);
  padding: var(--spacing-base);
  border: 0.10vw solid var(--accent-color);
  border-radius: 2px;
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}
