@import './variables.css';

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #252525;
}

.editor-section {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    padding-top: 48px;
}