@import './variables.css';

.module {
  overflow: hidden;
  border: 0.10vw solid var(--accent-color);
  background: var(--foreground-color);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  cursor: pointer; /* Indicate interactivity on the module border */
}

.module.locked {
  cursor: not-allowed;
  border: 1px solid var(--background-color);
}

.module-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
