/* Sidebar-Specific Styles */
.sidebar {
    background-color: var(--border-color);
    color: #fff;
    font-size: 1rem;
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--highlight-color);
}

.sidebar p {
    line-height: 1.5;
    color: var(--highlight-color);
}

.sidebar a {
    color: #fdfaf4;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}
